@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Poppins:wght@100;300&family=Work+Sans:wght@300&display=swap');
  .chat-app{
    min-height:100vh;
    display: flex;
    /* background-image: url('./'); */
    
    /* background-size: cover;
    background-position: center; */
    background: lightblue;

  }